<span class="name">{{item.name}}</span>
<span class="remove">
  <a href="#remove" data-behavior="true">
    <i class="fa fa-minus"></i>
  </a>
</span>
<span class="weight" title="{{item.weight}} B">{{item.weight_pretty}}</span>
