.searcher
  %input#search{ value: @query }
  = link_to '#search', class: 'submit button', data: { behavior: true } do
    %i.fa.fa-search
    %span Search
  = link_to '#clear', class: 'clear', data: { behavior: true } do
    %i.fa.fa-close
