- content_for(:title) { "Compare JavaScript libraries by weight" }

.row
  .four.columns
    %aside.categories
      %h3 By Category
      %ul
        %li= link_to "All Libraries", root_path, class: 'active'
        = render @categories

  .eight.columns
    %section.libraries
      %h3 Libraries
      .sort
        %span Sort by:
        = link_to "Weight", '#weight', class: 'active'
        = link_to "Popularity", '#popularity'
      %ol
