section.content {
  padding: 2rem 0;
}

a {
  text-decoration: none;
  @include transition(background-color 250ms, color 250ms);

  &:hover, &:focus, &.active {
    color: darken($primary-color, 20%);
    text-decoration: underline;
  }

  &.button {
    &:hover, &:focus, &.active {
      text-decoration: none;
    }
  }
}

ul, ol {
  list-style: none;
  margin: 0;
}

p {
  margin: 0;
}
