section.libraries {
  h3 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
  }

  div.sort {
    margin-bottom: 1.5rem;
    padding: 1rem;
    @include well;

    span, a {
      margin-right: 1rem;
    }
  }

  ol {
    margin: 0;
    list-style: none;

    li {
      padding: 1rem;
      border: 1px solid $border-color;
      @include radius;

      &:last-of-type {
        margin: 0;
      }

      span.info {
        width: 70%;
        @include truncate;

        @media ($bp-larger-than-mobile) {
          width: 80%;
        }
      }

      span.weight {
        width: 30%;
        text-align: right;

        @media ($bp-larger-than-mobile) {
          width: 20%;
        }
      }

      span.info, span.weight {
        display: block;
        float: left;
      }

      span.popularity {
        line-height: 40px;

        i {
          margin-left: 0.2rem;
        }
      }

      span.weight, span.popularity {
        float: right;
      }

      span.homepage {
        margin-left: 0.8rem;
      }

      a.button {
        margin: 0;
        padding: 0 15px;

        span {
          display: none;
        }

        i {
          line-height: 38px;
          font-size: 2rem;
          display: inline;
        }

        @media ($bp-larger-than-mobile) {
          padding: 0 30px;

          span {
            display: inline;
          }

          i {
            display: none;
          }
        }
      }

      div.more-info {
        max-height: 0;
        padding: 0;
        clear: left;
        overflow: hidden;
        @include transition(max-height 250ms, padding 250ms);
      }

      &:hover {
        border-color: $primary-color;

        span.info {
          @include untruncate;
        }

        div.more-info {
          padding-top: 1rem;
          max-height: 40px;
        }
      }
    }
  }

  p.none-found {
    display: none;
    font-size: 2rem;
    text-align: center;
  }
}

html.no-csstransitions {
  section.libraries ol li {
    span.info {
      @include untruncate;
    }

    div.more-info {
      padding-top: 1rem;
      max-height: 40px;
    }
  }
}
