aside.categories {
  display: none;
  padding: 1.5rem;
  @include well;

  h3 {
    font-size: 2rem;
    margin-bottom: 1.25rem;
  }

  ul li:last-of-type {
    margin-bottom: 0;
  }

  @media ($bp-larger-than-tablet) {
    display: block;
  }
}
