%footer
  .container
    .row
      .twelve.columns
        %ul
          %li
            = link_to "Contribute Library", '#contribute', class: 'contribute'
          %li
            = link_to "View Source On GitHub", 'https://github.com/stefanrush/weightof.it',
                      data: { remote: true }, target: '_blank'
          %li
            = link_to "Created By Stefan Rush", 'https://github.com/stefanrush',
                      data: { remote: true }, target: '_blank'
