%header
  .container
    .row
      .six.columns
        .home= link_to content_tag(:h1, "weightof.it"), root_path
      .six.columns
        = link_to contribute_path, class: 'contribute button', data: { remote: true } do
          %i.fa.fa-plus
          %span Contribute Library
    .row
      .six.columns
        %h2 Compare JavaScript libraries by weight
      .six.columns
        = render 'components/searcher'
