%link{ rel: "canonical", href: "http://weightof.it/" }
%link{ rel: "manifest", href: "/manifest.json" }
%link{ rel: "icon", sizes: "192x192", href: "/logo.png" }
%link{ rel: "icon", sizes: "128x128", href: "/logo.png" }
%link{ rel: "apple-touch-icon", sizes: "128x128", href: "/logo.png" }
%link{ rel: "apple-touch-icon-precomposed", sizes: "128x128", href: "/logo.png" }
