%meta{ content: "width=device-width, initial-scale=1.0", name: "viewport" }
%meta{ content: "Compare JavaScript libraries by weight (file size)", name: "description" }
%meta{ content: "weightof.it", property: "og:title" }
%meta{ content: "website", property: "og:type" }
%meta{ content: "http://weightof.it/", property: "og:url" }
%meta{ content: "http://weightof.it/logo.png", property: "og:image" }
%meta{ content: "Compare JavaScript libraries by weight (file size)", property: "og:description" }
%meta{ content: "summary", name: "twitter:card" }
%link{ href: "http://weightof.it/", rel: "canonical" }
